<div style="margin-top: 50px; padding-left: 30em; padding-right: 30em">
	<div style="text-align: center;">
		<h4 style="margin-bottom: 50px; color: #FAF4C0; font-weight: bold; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">게시글 작성</h4>
	</div>
	<%= render 'form' %>
</div>
