<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar sticky-top navbar-white bg-white" style="height: 15%;">
	  <a class="navbar-brand" href="/" style="color: #FAF4C0; font-weight: bold; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
	    <img src="/assets/yoghurt.png" width="auto" height="50" class="d-inline-block align-left" >
	    yoghurt
	  </a>

    <div class="btn-group" style="padding-right: 8%;">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight: bold; border: none; background-color: white;">
        yoghurting
      </button>

      <div class="dropdown-menu">
        <form class="px-4 py-3">
          <% if user_signed_in? %>
            <a class="dropdown-item" href="/musics/new"><h6 style="color: #FAF4C0; font-weight: bold; text-shadow: -0.8px 0 black, 0 0.8px black, 0.8px 0 black, 0 -0.8px black;">오늘 나는</h6></a>
            <a class="dropdown-item" href="/users/edit"><h6 style="color: #FAF4C0; font-weight: bold; text-shadow: -0.8px 0 black, 0 0.8px black, 0.8px 0 black, 0 -0.8px black;">Edit</h6></a>
            <a class="dropdown-item" href="/users/sign_out" data-method='delete'><h6 style="color: #FAF4C0; font-weight: bold; text-shadow: -0.8px 0 black, 0 0.8px black, 0.8px 0 black, 0 -0.8px black;">Sign out</h6></a>
          <% else %>
            <a class="dropdown-item" href="/users/sign_in"><h6 style="color: #FAF4C0; font-weight: bold; text-shadow: -0.8px 0 black, 0 0.8px black, 0.8px 0 black, 0 -0.8px black;">Sign in</h6></a>
            <a class="dropdown-item" href="/users/sign_up"><h6 style="color: #FAF4C0; font-weight: bold; text-shadow: -0.8px 0 black, 0 0.8px black, 0.8px 0 black, 0 -0.8px black;">Sign up</h6></a>
            <a class="dropdown-item" href="/users/password/new"><h6 style="color: #FAF4C0; font-weight: bold; text-shadow: -0.8px 0 black, 0 0.8px black, 0.8px 0 black, 0 -0.8px black;">Find password</h6></a>
          <% end %>
        </form>
      </div>
    </div>
	  
	</nav>
       
  <%= yield %>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</body>
</html>
